.slick-prev, .slick-next {
    z-index: 2; /* Adjust this value as necessary */
}

/* CSS */
.modal {
    transition: opacity 3s ease-in-out; /* Fade-in and fade-out transition */
}

.modal-content {
    transition: opacity 3s ease-in-out; /* Fade-in and fade-out transition */
}

.story-modal {
    position: fixed; /* 필수 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* 예시 값, 필요에 따라 조정 */
    /* 나머지 스타일링 */
}
